<div class="circles">
  
  	<div class="page-width">

  	<div class="custom-boxes-wrapper flex">
        {% for block in section.blocks %}
      
      		<div class="flex flex-align-center custom-box {% cycle 'odd', 'even' %}">

              <div class="flex-4 service-box-image">
                	{{ block.settings.image | img_url: 'large' | img_tag:block.settings.image.alt}}
              </div>
              <div class="flex-1"></div>
              <div class="flex-5">
                    <div class="flex flex-align-center">
                        <div>
                            <h3 class="font-default">{{ block.settings.title}}</h3>
                            <div class="fs14 text-muted">{{ block.settings.subTitle}}</div>
                        </div>
                    </div>
                	<div>{{ block.settings.text}}</div>
              </div>

            </div>
        {% endfor %}
     </div>
  	
  	</div>
</div>


{% schema %}
  {
    "name": "Circles",
    "blocks": [
      {
        "type": "text_block",
        "name": "Circle",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "text",
            "id": "subTitle",
            "label": "Sub Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
