<style>
    .header {;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: transparent;
        z-index: 999;
    }
    .services-hero{
        background-image: url('{{section.settings.image |  img_url:'master'}}');
    }
</style>
<div class="services-hero">
    <div class="services-hero-content">
        {% if section.settings.sub_title != blank %}
            <h1 class="section-title">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.42254 4.53809H0C0.614301 4.88912 1.8429 5.80179 1.8429 6.64426V19.5446H10.7344V17.9649H3.42254V4.53809Z"
                        fill="#C7A049" />
                    <path
                        d="M12.5775 4.53809H16C15.3857 4.88912 14.1571 5.80179 14.1571 6.64426V19.5446H9.15493V17.965H12.5775V4.53809Z"
                        fill="#C7A049" />
                    <path
                        d="M5.44889 1.11568C4.92235 0.852412 3.68978 1.00726 3.86926 1.90554C4.13257 2.9586 4.92239 3.22189 7.23914 3.22189C6.76525 2.16858 5.97543 1.37896 5.44889 1.11568Z"
                        fill="#C7A049" stroke="#C7A049" stroke-width="0.5" />
                    <path
                        d="M10.8126 1.11568C11.3391 0.852412 12.5717 1.00726 12.3922 1.90554C12.1289 2.9586 11.3391 3.22189 9.02234 3.22189C9.49622 2.16858 10.286 1.37896 10.8126 1.11568Z"
                        fill="#C7A049" stroke="#C7A049" stroke-width="0.5" />
                </svg>
                {{section.settings.sub_title}}
            </h1>
        {% endif %}
        <p class="font-default h1">{{section.settings.title}}</p>
    </div>
</div>

{% schema %}
    {
      "name": "Services Hero",
      "settings" :[
        {
          "type" : "text",
          "label":"Title",
          "id":"title"
        },
        {
          "type" : "text",
          "label":"Sub Title",
          "id":"sub_title"
        },
        {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              }
      ],
      "presets": [
        {
          "name": "Services Hero"
        }
      ]
    }
  {% endschema %}