
<style>
  ol{
  	margin-left:20px;
    margin-bottom:30px;
  }
  li{
  	list-style:decimal;
  }
</style>
<div>
  	<br>
  	<h1 class="text-center font-default ">{{page.title}}</h1>
    <div class="page-width">
      <div class="flex flex-justify-center">
        <div class="flex-7">
        {{ page.content }}
        </div>
      </div>
    </div>
</div>

{% if page.metafields.content.bottom_description %}
	<div class="page-bottom">
		<div class="page-width">
          {{page.metafields.content.bottom_description}}
          {% render 'btt' %}
      </div>
    </div>
{% endif %}